// Colors

$primary-color: #ff8f00;
$secondary-color: #ff4f33;
$light-color: #f4f4f4;
$hover-color: #c70039;
$text-color: #333;

$login-color: #33d5ff;
$register-color: #73fb00;
$success-color: #28a745;
$danger-color: #dc3545;
