@import './_config.scss';
@import './toolbar.scss';
@import './form.scss';
@import './landing.scss';
@import './table.scss';
@import './reader.scss';

// Default
html {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  align-items: center;
  min-height: 400px;
}

.App {
  text-align: center;
}

// Show & Hide
.hide-lg {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 759px) {
  .hide-sm {
    visibility: hidden;
  }

  .show-sm {
    visibility: visible;
  }
}

// Heading

h2 {
  color: $text-color;
}

// Content
.page-content {
  padding-top: 8rem;
  color: #000;
}

// Text
.lead {
  color: $text-color;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-lg {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text-xlg {
  font-size: 4rem;
  line-height: 1.6;
  margin-bottom: 1.4rem;
}

// Line
.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

// buttons
.btn {
  display: inline-block;
  background-color: $light-color;
  color: #333;
  padding: 0.6rem 1.6rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  transition: 0.2s ease all;
  // margin-top: 1rem;

  &-sm {
    padding: 0.3rem 0.6rem;
  }

  &-md {
    padding: 0.6rem 1.2rem;
  }

  &.btn-primary {
    background-color: $secondary-color;
    color: #fff;

    &:hover {
      background-color: lighten($color: $secondary-color, $amount: 10);
    }
  }

  &.btn-danger {
    background-color: $danger-color;
    &:hover {
      background-color: $danger-color;
      color: #fff;
    }
  }

  &.btn-success {
    color: $success-color;
    &:hover {
      background-color: $success-color;
      color: #fff;
    }
  }

  &.btn-warning {
    color: $warning-color;
    &:hover {
      background-color: $warning-color;
      color: #fff;
    }
  }
}
