table {
  margin: 2rem auto;

  th,
  td {
    padding: 1rem;
    text-align: center;
    color: $text-color;

    .delete-manga {
      &:hover {
        background-color: $danger-color;
        color: #fff;
      }

      i {
        font-size: 1rem;
      }
    }
  }

  th {
    background: $light-color;
    color: $text-color;

    .add-manga {
      color: $success-color;
      &:hover {
        background-color: $success-color;
        color: #fff;
      }
    }
  }

  tr {
    color: $text-color;
    width: 100vw;
    cursor: pointer;

    .add-manga-th {
      background-color: #fff;
    }

    .last-read {
      &:hover {
        background-color: $warning-color;
      }
    }

    .manga-title {
      &:hover {
        background-color: $secondary-color;
      }
    }

    .title {
      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

// Modal
.modal-content {
  text-align: center;
  justify-content: center;

  h1 {
    color: $text-color;
    margin: 1rem;
  }

  .btn {
    margin-left: 10px;
    &.btn-danger {
      float: right;
      position: absolute;
      top: 0;
      right: 10px;
    }

    &.btn-success {
      position: relative;
    }

    i {
      font-size: 1.4rem;
    }
  }

  input[type='text'],
  input[type='number'] {
    font-size: 1.4rem;
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }
}

@media screen and (max-width: 759px) {
  .table {
    margin-left: 6rem;
    width: 80vw;
    .hide-sm {
      display: none;
    }
    .btn {
      padding: 0.3rem 1.2rem;
    }
  }

  .page-content {
    .manga-h2 {
      margin-left: 3rem;
    }
  }

  .modal-content {
    h1 {
      font-size: 1.2rem;
    }
    .btn {
      padding: 0.3rem 0.8rem;
      margin-top: 0.5rem;
    }
    input[type='text'],
    input[type='number'] {
      font-size: 0.8rem;
      width: 50%;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;
    }
  }
}
